<div class="form__container">
  <form class="form__signup" action="" method="POST">
    <h1>Create your account</h1>
    <div class="form__group">
      <input type="text" placeholder=" " name="firstName" />
      <label>First name</label>
    </div>
    <div class="form__group">
      <input type="text" placeholder=" " name="lastName" />
      <label>Last name</label>
    </div>
    <button type="submit">
      <span class="material-symbols-outlined form__button__icon-right">
        arrow_forward
      </span>
      <span>Continue</span>
    </button>
    <p>Already have an account? <a href="/login">Log In</a></p>
    <p class="form__footer">*Please use your real name.</p>
  </form>
</div>