<link rel="stylesheet" href="/stylesheets/base/reset.css" />
<link rel="stylesheet" href="/stylesheets/base/style.css" />
<link rel="stylesheet" href="/stylesheets/components/error.css" />

<div class="error-container">
  <p class="error-text">
    <span>{{message}}</span>
    <span class="error-close material-symbols-outlined">
      close
    </span>
  </p>
</div>

<script src="/js/error.js"></script>