<link rel="stylesheet" href="/stylesheets/base/reset.css" />
<link rel="stylesheet" href="/stylesheets/base/style.css" />
<link rel="stylesheet" href="/stylesheets/components/header.css" />

<div class="header">
  <a href="{{redirect}}">
    <div class="header__menu-icon">
      <span class="material-symbols-outlined">
        chevron_left
      </span>
    </div>
  </a>
  <h1 class="header__title">{{title}}</h1>
  <img
    id="open-modal"
    class="header__user"
    src="{{currentUser.profilePicture}}"
    alt=""
  />
</div>