<link rel="stylesheet" href="/stylesheets/base/reset.css" />
<link rel="stylesheet" href="/stylesheets/base/style.css" />
<link rel="stylesheet" href="/stylesheets/components/modal.css" />

<div class="modal modal__hidden">
  <div class="modal__container modal__container-hidden">
    <div class="modal__header">
      <span class="modal__header-icon material-symbols-outlined">
        library_add
      </span>
      <h2 class="modal__header-title">Add a test</h2>
      <span class="modal__close material-symbols-outlined">
        close
      </span>
    </div>
    {{#if partial}}
      {{> (lookup . 'partial')}}
    {{/if}}
  </div>
</div>

<script src="/js/modal.js"></script>