<div id="st-container" class="st-container">
<div id="logo">
  <div class="menu-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</div>
  <div class="st-pusher">
    <nav class="st-menu st-effect-1" id="menu-1">
      <ul>
        <li><a class="icon icon-data" href="#">Dashboard</a></li>
        <li><a class="icon icon-location" href="#">News</a></li>
        <li><a class="icon icon-study" href="#">Schedule</a></li>
        <li><a class="icon icon-photo" href="#">Grades</a></li>
        <li><a class="icon icon-wallet" href="#">Homework</a></li>
      </ul>
    </nav>
  </div>
</div>
    <script src="/js/sidebar.js"></script>