<div id="container">
    <div id="mini-sidebar">
      <ul>
        <li><span class="material-symbols-outlined">dashboard</span></li>
     <li> <span class="material-symbols-outlined">news</span></li>
      <li><span class="material-symbols-outlined">calendar_month</span></li>
     <li> <span class="material-symbols-outlined">trending_up</span></li>
      <li><span class="material-symbols-outlined">receipt_long</span></li>
      </ul>
  </div>
  <div id="logo">
    <div class="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <div id="sidebar" class="sidebar">
    <nav class="menu effect" id="menu">
      <ul>
        <li><span class="material-symbols-outlined">dashboard</span><a class="icon icon-data" href="#">Dashboard</a></li>
        <li><span class="material-symbols-outlined">news</span><a class="icon icon-location" href="#">News</a></li>
        <li><span class="material-symbols-outlined">calendar_month</span><a class="icon icon-study" href="#">Schedule</a></li>
        <li><span class="material-symbols-outlined">trending_up</span><a class="icon icon-photo" href="#">Grades</a></li>
        <li><span class="material-symbols-outlined">receipt_long</span><a class="icon icon-wallet" href="#">Homework</a></li>
      </ul>
    </nav><div class="user">
      {{currentUser.firstName}} {{currentUser.lastName}}{{currentUser.profilePicture}}</div>
  </div>
</div>
<script src="/js/sidebar.js"></script>

