<link rel="stylesheet" href="/stylesheets/components/sidebar.css" />

<div id="container">
  <div id="mini-sidebar">
    <ul>
      <li><a class="icon icon-data" href="#"><span
            class="material-symbols-outlined"
          >dashboard</span></a></li>
      <li>
        <a class="icon icon-location" href="#"><span
            class="material-symbols-outlined"
          >news</span></a></li>
      <li><a class="icon icon-study" href="#"><span
            class="material-symbols-outlined"
          >calendar_month</span></a></li>
      <li><a class="icon icon-photo" href="#"><span
            class="material-symbols-outlined"
          >trending_up</span></a></li>
      <li><a class="icon icon-wallet" href="#"><span
            class="material-symbols-outlined"
          >receipt_long</span></a></li>
    </ul>
  </div>
  <div id="sidebar" class="sidebar">
      <div id="logo">
    <div class="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
    <nav class="menu effect" id="menu">
      <ul>
        <li><a class="icon icon-data" href="#"><span
              class="material-symbols-outlined"
            >dashboard</span>Dashboard</a></li>
        <li><a class="icon icon-location" href="#"><span
              class="material-symbols-outlined"
            >news</span>News</a></li>
        <li><a class="icon icon-study" href="#"><span
              class="material-symbols-outlined"
            >calendar_month</span>Schedule</a></li>
        <li><a class="icon icon-photo" href="#"><span
              class="material-symbols-outlined"
            >trending_up</span>Grades</a></li>
        <li><a class="icon icon-wallet" href="#"><span
              class="material-symbols-outlined"
            >receipt_long</span>Homework</a></li>
      </ul>
    </nav><div class="user">
      {{currentUser.firstName}}
      {{currentUser.lastName}}
      {{currentUser.profilePicture}}</div>
  </div>
</div>
<script src="/js/sidebar.js"></script>