.grades-container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

.grades-container__title {
  font-size: 2rem;
  font-weight: 500;
}

.grades-container__collection {
  margin: 2rem 0;
}

.grades-container__item {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
  border-radius: 1rem;
  display: flex;
  align-items: stretch;
}

.grades-container__item-icon {
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
}

.grades-container__item-icon-green {
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0, 255, 0, 1);
}

.grades-container__item-icon-red {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid rgba(255, 0, 0, 1);
}

.grades-container__item-icon-orange {
  background-color: rgba(255, 165, 0, 0.2);
  border: 1px solid rgba(255, 165, 0, 1);
}

.grades-container__item-container {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: space-between;
  gap: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0 1rem 1rem 0;
  min-width: 0;
}

.grades-container__item-grade {
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

.grades-container__item-max-grade {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.grades-container__item-title {
  color: rgba(255, 255, 255, 0.75);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grades-container__item-teacher {
  margin-left: auto;
  display: none;
  color: rgba(255, 255, 255, 0.75);
  white-space: nowrap;
}

/* BREAKPOINT SMALL */

@media (min-width: 576px) {
  .grades-container {
    width: calc(100% - 4rem);
    min-height: calc(100vh - 4rem);
    padding: 4rem;
    margin: 2rem;
    border-radius: 2rem;
  }
  .grades-container__item-teacher {
    margin-left: auto;
    display: block;
  }
}
