.grades-container {
  padding: 0 1.5rem;
}

.grades-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grades-item {
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-radius: 0.5rem;
  gap: 1rem;
  display: flex;
  align-items: stretch;
}

.grades-item__score {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.grades-item__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
