.grades-container {
  padding: 0 1.5rem;
  flex: 1;
  min-height: 100vh;
  background-color: var(--primary-background-color);
  position: relative;
}

.grades-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grades-item {
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-radius: 0.5rem;
  gap: 1rem;
  display: flex;
  align-items: stretch;
}

.grades-item__score {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.grades-item__score-red {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 1);
}

.grades-item__score-green {
  background-color: rgba(0, 255, 0, 0.1);
  color: rgba(0, 255, 0, 1);
}

.grades-item__score-orange {
  background-color: rgba(255, 160, 0, 0.1);
  color: rgba(255, 160, 0, 1);
}

.grades-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grades-item__course {
  font-size: var(--secondary-text-size);
  color: rgba(255, 255, 255, 0.75);
}

.grades-item__average {
  color: var(--secondary-text-color);
  font-size: var(--third-text-size);
}

.grades-item__arrow {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
}

.search {
  position: relative;
}

.search > input {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 4rem 0.75rem 1rem;
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-family: var(--font-family);
}

.search > button {
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.search > button > span {
  font-size: 1.25rem;
}

.search > input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.grade-noresult {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--secondary-background-color);
  padding: 2rem;
  border-radius: 0.5rem;
}

.grade-noresult > span {
  font-size: 3rem;
}

@media (min-width: 576px) {
  .grades-container {
    padding: 0 1.5rem;
    min-height: calc(100vh - 4rem);
    border-radius: 1rem;
    margin: 2rem 2rem 2rem 0;
  }

  .search {
    max-width: 300px;
  }
}
