.profile-edit-container {
  background-color: var(--primary-background-color);
  padding: 0 1.5rem;
  flex: 1;
  min-height: 100vh;
}

.form {
  min-height: 0;
}

@media (min-width: 576px) {
  .profile-edit-container {
    padding: 0 1.5rem;
    min-height: calc(100vh - 4rem);
    border-radius: 1rem;
    margin: 2rem 2rem 2rem 0;
    position: relative;
  }
  .form {
    max-width: 300px;
  }
}
