.tests-container {
  padding: 0 1.5rem;
}

.tests-collection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tests-collection__button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.tests-collection__button-icon {
  font-size: 2rem;
}

/* ITEM STYLES */

.tests-collection__item {
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.tests-collection__item-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 0;
}

.tests-collection__item-title {
  font-size: var(--primary-text-size);
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tests-collection__item-icon {
  padding: 1rem;
  background-color: rgba(0, 255, 0, 0.1);
  color: rgba(0, 255, 0, 1);
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.tests-collection__item__right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tests-collection__item-createdAt {
  font-size: var(--third-text-size);
  color: var(--secondary-text-color);
  white-space: nowrap;
}
