<div class="landing__container">
  <div class="landing__hero__background">
    <header class="landing__hero">
      <img src="/images/logo.svg" alt="" />
      <h1 class="hero__title">Track, Excel, Succeed with SchoolSync</h1>
      <h2 class="hero__paragraph">Empower your academic success with our
        tracking app. Effortlessly monitor your progress, stay on top of
        assignments, and unlock your true potential. Experience seamless
        organization and take charge of your education like never before!</h2>
      <div class="hero__button__container">
        <a class="hero__cta hero__cta-secondary" href="">
          Read the docs
        </a>
        <a class="hero__cta" href="/login">
          <span class="material-symbols-outlined">
            favorite
          </span>
          <span>Try it now</span>
        </a>
      </div>
    </header>
  </div>
</div>