<style>
    @import "/stylesheets/components/form.css";
</style>

<form class="form" action="/dashboard/classes" method="POST">
    <label class="form-label" for="number">Number
        <span class="form-require">*</span>
    </label>
    <input class="form-input" type="number" id="number" name="number" required>
    <label class="form-label" for="letter">Letter
        <span class="form-require">*</span>
    </label>
    <input class="form-input" type="text" id="letter" name="letter" maxlength="1" required>
    <label class="form-label" for="year">Year
        <span class="form-require">*</span>
    </label>
    <input class="form-input" type="number" id="year" name="year" required>
    <button class="form-button" type="submit">Create class</button>
</form>