<link rel="stylesheet" href="/stylesheets/base/reset.css" />
<link rel="stylesheet" href="/stylesheets/base/style.css" />
<link rel="stylesheet" href="/stylesheets/components/form.css" />

<form class="form" action="/dashboard/tests/create" method="POST">
  <label for="">Title
    <span class="form-require">*</span>
  </label>
  <input
    class="form-input"
    type="text"
    name="title"
    placeholder="Enter test title"
    value="{{title}}"
  />
  <label for="">Maximum score
    <span class="form-require">*</span>
  </label>
  <input
    class="form-input"
    type="number"
    name="maxGrade"
    placeholder="Enter maximum test score"
    value="{{maxGrade}}"
  />
  <label for="">Date
    <span class="form-require">*</span>
  </label>
  <input
    class="form-input"
    type="text"
    name="date"
    onfocus="this.type='date'"
    pattern="\d{4}-\d{2}-\d{2}"
    placeholder="Select test date"
    value="{{date}}"
  />
  <label for="">Comment
    <span class="form-optional">(optional)</span>
  </label>
  <textarea
    class="form-input"
    type="text"
    name="comment"
    placeholder="Enter test comment"
  >{{comment}}</textarea>
  <button class="form-button" type="submit">
    <span class="material-symbols-outlined">
      add
    </span>
    <span> Add</span>
  </button>
</form>