<link rel="stylesheet" href="/stylesheets/base/reset.css" />
<link rel="stylesheet" href="/stylesheets/base/style.css" />
<link rel="stylesheet" href="/stylesheets/components/form.css" />
<link rel="stylesheet" href="/stylesheets/pages/profile-edit.css" />

  <div class="profile-edit-container">
    <h2 class="profile-edit__title">Change Password</h2>
    <form class="profile-edit__form" action="/dashboard/profile/edit/password" method="POST">
      <div class="form-group">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input
          type="password"
          class="form-input"
          id="oldPassword"
          name="oldPassword"
          placeholder="Enter old password"
        />
      </div>
      <div class="form-group">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          type="password"
          class="form-input"
          id="newPassword"
          name="newPassword"
          placeholder="Enter new password"
        />
      </div>
      <button class="profile-edit__save-button" type="submit">Change Password</button>
        <a href="/dashboard/profile" class="profile-edit__cancel-button">Cancel</a>
    </form>
  </div>
{{#if errorMessage}}
  {{> error message=errorMessage}}
{{/if}}