<link rel="stylesheet" href="/stylesheets/base/reset.css" />
<link rel="stylesheet" href="/stylesheets/base/style.css" />
<link rel="stylesheet" href="/stylesheets/components/form.css" />
<link rel="stylesheet" href="/stylesheets/pages/profile-edit.css" />
  <div class="main-app">
    {{> sidebar}}
  <div class="profile-edit-container">
    {{> header title="Change password" redirect="/dashboard/profile"}}
    <form class="form" action="/dashboard/profile/edit/password" method="POST">
        <label for="oldPassword" class="form-label">Old password
          <span class="form-require">*</span>
        </label>
        <input
          type="password"
          class="form-input"
          id="oldPassword"
          name="oldPassword"
          placeholder="Enter old password"
        />
        <label for="newPassword" class="form-label">New password
          <span class="form-require">*</span>
        </label>
        <input
          type="password"
          class="form-input"
          id="newPassword"
          name="newPassword"
          placeholder="Enter new password"
        />
      <button class="form-button" type="submit">Change password</button>
    </form>
  </div>
  </div>
{{#if errorMessage}}
  {{> error message=errorMessage}}
{{/if}}