<link rel="stylesheet" href="/stylesheets/base/reset.css" />
<link rel="stylesheet" href="/stylesheets/base/style.css" />
<link rel="stylesheet" href="/stylesheets/pages/test.css" />

<div class="test-container">

  {{> header title=test.title redirect="/dashboard/tests" }}

</div>