.landing__container {
  min-height: 100vh;
  background: #212529;
  position: relative;
  z-index: 1;
  color: white;
  padding: 70px 0 0;
}

.landing__container div:first-child {
  position: relative;
  z-index: 2;
}

.landing__container::before {
  content: "";
  width: 100px;
  height: 500px;
  background-color: #9156ff;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(150px);
}

.landing__container::after {
  content: "";
  width: 100px;
  height: 500px;
  background-color: #00eaff;
  position: absolute;
  right: 0;
  top: 0;
  filter: blur(150px);
}

/* HERO */
.landing__hero {
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing__hero img {
  width: 100px;
  margin: 50px 0;
  fill: white;
}

.landing__hero .hero__title {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 600;
  line-height: 1.1;
  text-wrap: balance;
}

.landing__hero .hero__paragraph {
  font-size: 1rem;
  margin: 20px 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
}

.landing__hero .hero__button__container {
  width: 100%;
}

.landing__hero .hero__cta {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-color);
  padding: 15px 0;
  font-weight: 600;
  font-size: 18px;
  gap: 10px;
  border-radius: 5px;
  margin: 15px 0;
}

.landing__hero .hero__cta-secondary {
  background: rgba(33, 37, 41, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 400;
  padding: 20px 0;
}

/* BREAKPOINT */

/* SMALL */
@media (min-width: 576px) {
  .landing__hero .hero__button__container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .landing__hero .hero__cta {
    width: auto;
    padding: 24px;
  }

  .landing__hero .hero__paragraph {
    font-size: calc(1rem + 0.5vw);
  }
  .landing__hero img {
    width: 20vw;
    max-width: 150px;
  }
  .landing__container::before {
    width: 300px;
    height: 300px;
    filter: blur(500px);
  }

  .landing__container::after {
    width: 40vw;
    height: 300px;
    filter: blur(500px);
  }
}

/* LARGE */
@media (min-width: 992px) {
  .landing__hero .hero__title {
    font-size: 3.5rem;
  }

  .landing__hero .hero__paragraph {
    font-size: 1.3rem;
  }
}
