.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 28px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR LEFT */
.navbar__left {
  display: flex;
}

.navbar__logo {
  display: flex;
  gap: 10px;
}

.navbar__logo__image {
  height: 20px;
}

.navbar__logo__title {
  font-size: 18px;
  font-weight: 600;
}

/* NAVBAR RIGHT */
.navbar__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

/* NAVBAR RIGHT LOGOUT */
.navbar__login__button,
.navbar__signup__button {
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.navbar__login__button {
  display: flex;
  background-color: var(--primary-color);
}

.navbar__signup__button {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 10px;
}

/* NAVBAR RIGHT LOGIN */
.navbar__user__logo {
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar__navigation {
  display: none;
  gap: 20px;
  font-size: 14px;
  margin: 0 20px;
  align-items: center;
}

.navbar__navigation > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.navbar__navigation > li > a:hover {
  color: white;
}

/* USER MENU */
.navbar__user__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
}

.navbar__user__menu-active {
  display: block;
}

.menu__close {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  user-select: none;
}

.menu__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  font-size: 1.5rem;
  margin: 50px 0 0;
}

.menu__container > hr {
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.menu__informations__small {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.menu__container form button {
  background-color: transparent;
  border: none;
  font-family: var(--font-family);
  font-size: 1.5rem;
  padding: 0;
  color: var(--form-error-color);
  cursor: pointer;
  margin-top: -10px;
}

/* BREAKPOINT */

/* SMALL */
@media (min-width: 576px) {
  .navbar__signup__button {
    display: flex;
  }
  .navbar__navigation {
    display: flex;
  }
  .menu__container__dashboard,
  .menu__container__profile {
    display: none;
  }
  .menu__close {
    display: none;
  }
  .navbar__right {
    position: relative;
  }
  .navbar__user__menu {
    width: auto;
    height: auto;
    top: 50px;
    right: 0px;
    left: auto;
    border-radius: 5px;
  }
  .menu__container {
    padding: 20px;
    font-size: 1rem;
    margin: 0;
    gap: 10px;
  }
  .menu__container form button {
    font-size: 1rem;
  }
  .menu__informations__small {
    margin-top: 5px;
  }
}
