@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&family=Poppins:wght@300;400;500;600;700;800;900&family=Victor+Mono&display=swap");

:root {
  --font-family: Poppins;
  --form-border-color: rgba(255, 255, 255, 0.5);
  --form-label-color: rgba(255, 255, 255, 0.5);
  --form-error-color: #ff2d49;
  --primary-color: #00aeff;
  --contrast-text-color: white;
  --main-text-color: white;
}

body {
  font-family: var(--font-family);
  color: var(--main-text-color);
}

/* form */
.form__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(95deg, rgb(40, 0, 62) 1%, rgb(0, 204, 255) 200%);
}

.form__container form {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.form__container form h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0;
  line-height: 1.2;
}

.form__container form .form__group {
  position: relative;
  width: 100%;
}

.form__container form input {
  position: relative;
  width: 100%;
  padding: 25px 10px 10px;
  font-size: 16px;
  font-family: var(--font-family);
  border: 1px solid var(--form-border-color);
  background-color: transparent;
  z-index: 10;
  color: var(--main-text-color);
}

.form__container form input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.form__container form .form__group-error input {
  border: 1px solid var(--form-error-color);
}

.form__container form label {
  position: absolute;
  font-size: 16px;
  top: 25px;
  left: 20px;
  color: var(--form-label-color);
  z-index: 5;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.form__container form input:not(:placeholder-shown) ~ label {
  font-size: 13px;
  top: 10px;
  left: 10px;
  color: var(--form-label-color);
}

.form__container form input:focus ~ label {
  font-size: 13px;
  top: 10px;
  left: 10px;
  color: var(--primary-color);
}

.form__container form .form__group-error label,
.form__container form .form__group-error input:focus ~ label {
  color: var(--form-error-color);
}

.form__container form button {
  position: relative;
  width: 100%;
  border: none;
  padding: 15px;
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form__container form button .form__button__icon {
  position: absolute;
  left: 10px;
}

.form__container p {
  font-size: 14px;
}

.form__container a {
  color: var(--primary-color);
}

.form__error__message {
  color: var(--form-error-color);
  text-align: left;
  width: 100%;
  margin: -10px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form__error__message span {
  font-size: 15px;
}
