@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&family=Poppins:wght@300;400;500;600;700;800;900&family=Victor+Mono&display=swap");

:root {
  --font-family: Poppins;
  --form-border-color: rgba(255, 255, 255, 0.5);
  --form-label-color: rgba(255, 255, 255, 0.5);
  --error-color: #ff2d49;
  --primary-color: #712cf9;
  --contrast-text-color: white;
  --main-text-color: white;
}

body {
  font-family: var(--font-family);
  color: var(--main-text-color);
  background-color: #171720;
}
