<div class="home-container">
  <div class="hero-container">
    <img class="hero-container__logo" src="/images/logo.webp" alt="" />
    <h1 class="hero-container__title">Track, Excel, Succeed with SchoolSync</h1>
    <h2 class="hero-container__text">Empower your academic success with our
      tracking app. Effortlessly monitor your progress, stay on top of
      assignments, and unlock your true potential. Experience seamless
      organization and take charge of your education like never before!</h2>
    <div class="hero-container__button-container">
      <a class="hero-container__button-secondary" href="">
        Read the docs
      </a>
      <a class="hero-container__button-primary" href="/login">
        <span
          class="material-symbols-outlined hero-container__button-primary-icon"
        >
          bolt
        </span>
        <span>Try it now</span>
      </a>
    </div>
  </div>
  <div class="categories-container">

    <div class="categories-container-item">
      <h2 class="categories-container-title">
        Academic Performance Tracking
      </h2>
      <p class="categories-container-text">Our online notes app provides schools
        with a convenient and efficient way to track students' academic
        performance. Teachers can easily record and update students' grades for
        each subject, allowing parents and students to regularly check their
        results.</p>
    </div>

    <div class="categories-container-item">
      <h2 class="categories-container-title">
        Simplified Schedule Management
      </h2>
      <p class="categories-container-text">Our app offers comprehensive schedule
        management for schools. Administrators can easily create and manage
        schedules for each class and teacher, enabling efficient management of
        class timings.</p>
    </div>

    <div class="categories-container-item">
      <h2 class="categories-container-title">
        School News Updates
      </h2>
      <p class="categories-container-text">Stay informed with the latest news
        and important information from the school through our app.
        Administrators can publish announcements about upcoming events,
        extracurricular activities, schedule changes, or any other relevant
        information for students, teachers, and parents.</p>
    </div>
  </div>
</div>